@import '../../../src/assets/scss/colors';
@import '../../../src/assets/scss/spacing';
@import '../../../src/assets/scss/typography';


.input {
    display: flex;
    flex-direction: column;
    gap: $space-1;

    input {
        font-size: inherit;
        outline: 1px solid $gray-2;
        height: 40px;
        border: none;
        padding: 0 $space-2;
        border-radius: 4px;

        &::placeholder {
            color: $gray-2;
        }

        &:focus {
            outline: 1px solid $pure-blue;
        }
    }

    label {
        color: $gray-2;
    }

    p { 
        font-size: $text-small;
        color: red;
    }
}