$blue-black: #1D2939;
$white: #FFFFFF;
$magenta: rgb(223, 155, 224, .4);
$green: rgba(204, 255, 204, .4);
$redish-orange: rgba(255, 194, 153, .4);
$cyan-blue:#4f8dd4;
$pure-blue: #0267FF;
$pure-blue-1: rgba(37, 117, 209, .2);

$gray-1: #d1d1d1;
$gray-2: #A6A6A6;
$gray-3: #B3B3B3;
$gray-4: #808080;