$base-size: 0.5rem; //8px;
$space-1: $base-size;
$space-2: calc($space-1 + $base-size);
$space-3: calc($space-2 + $base-size);
$space-4: calc($space-3 + $base-size);
$space-5: calc($space-4 + $base-size);
$space-6: calc($space-5 + $base-size);
$space-7: calc($space-6 + $base-size);
$space-8: calc($space-7 + $base-size);