$primary-font: 'Roboto', Arial, Helvetica, sans-serif;
$primary-font-size: 100%;
$primary-letter-spacing: .5%;

$body-font-weight: 400;
$body-line-height: 1.1719; //18.75px
$heading-font-weight: 600;
$heading-line-height: 2.07; //33.18px

$text-large: 2.074rem; //33.18px
$text-medium: 1.44rem; // 23.04px 
$text-normal: 1rem; //16px
$text-small: 0.83rem; //13.33px