@import '../../../src/assets/scss/colors';
@import '../../../src/assets/scss/spacing';

.primary {
    color: $white;
    background-color: $pure-blue;
    height: 40px;

    &:hover {
        background-color: $cyan-blue;
    }
}

.secondary {
    outline: 1px solid $gray-2;
    background-color: transparent;
    height: 36px;

    &:hover {
        background-color: $white;
    }
}

.rounded {
    border-radius: 100px;
}