@import '../../../src/assets/scss/colors';
@import '../../../src/assets/scss/spacing';

.button {
    font-size: inherit;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.primary {
    color: $white;
    background-color: $pure-blue;
    height: 40px;

    &:hover {
        background-color: $cyan-blue;
    }
}

.secondary {
    border: 1px solid $gray-2;
    background-color: transparent;
    height: 36px;

    &:hover {
        background-color: $white;
    }
}

.rounded {
    border-radius: 100px;
}