@import '../../assets/scss/spacing';

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 $space-2;
    margin-top: 6.24vh;
    width: 100%;

    .steps {
        display: flex;
        place-items: center;
    }

    a {
        display: inline-flex;
        align-items: center;
        gap: $space-1;
    }
}