@import '../../assets/scss/spacing';

main {
    height: 100vh;
    display: flex;

    .left-section,
    .right-section {
        flex: 1;
    }
    
    .right-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $space-4;
    }
}