@import '../../assets/scss/layout';

.complete {
    @include container;
    width: 30.625vw;
    margin-top: 9.10vh;

    header {
        text-align: center;
    }

    .confetti {
        width: 522.426px;
        height: 281.329px;
    }

    button {
        margin-top: 30.20vh;
    }
}