@import '../../assets/scss/colors';
@import '../../assets/scss/layout';
@import '../../assets/scss/spacing';

.avatar {
    border-radius: 50%;
    width: 139px;
    height: 139px;
    margin-top: 7.02vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-3;

    img {
        object-fit: contain;
        height: auto;
    }
}