@import './scss/typography';
@import './scss/colors';
@import './scss/spacing';

body {
    font-size: inherit;
    font-weight: $body-font-weight;
}

h1 {
    font-size: $text-large;
    font-weight: $heading-font-weight;
}