@import './assets/scss/typography';
@import './assets/scss/colors';
@import './assets/scss/spacing';

*,
*::before,
*::after {
    box-sizing: inherit;
}

#root {
    height: 100vh;
    overflow: auto;
}

body,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-size: inherit;
    font-weight: $body-font-weight;
    overflow: auto;
}

h1 {
    font-size: $text-large;
    font-weight: $heading-font-weight;
    margin-bottom: $space-1;
}

button,
.button {
    font-size: inherit;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

ul, li {
    list-style: none;
}