$blue-black: #1D2939;
$white: #FFFFFF;
$magenta: #DF9BE0;
$green: #CCFFCC;
$redish-orange: #FFC299;
$cyan-blue:#2575D1;
$primar-blue: #0267FF;
$gray-1: #A6A6A6;
$gray-2: #B3B3B3;
$gray-3: #808080;